target/classes/audit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Mahesh497@" database="mysql" doc:name="MySQL Configuration"/>
    <flow name="auditFlow">
        <logger message="data sending the db..............." level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into AUDITs_LOG(UniqueId,sourceApp,srcReq,srcRes,targetReq,targetRes,ReqTime,ResTime) 
values(#[flowVars.uniqueid],#[flowVars.sourceApp],#[flowVars.srcRequest],#[flowVars.srcResponse],#[flowVars.targetRequest],#[flowVars.targetResponse],#[flowVars.requestTime],#[flowVars.responseTime]);]]></db:parameterized-query>
        </db:insert>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
